
button:after {
  content:"Of course!";
}

button:hover:after {
  content: "Click as you eat them!";
}

button:focus:active:after {
  content:"Mushroomifying...";
}

button:focus:after {
  content:"Stamets must be proud!";
}

button span {
  display: none;
}
button:focus:active span {
  display: none;
}
button:focus span {
  display: inline;
  padding-right: 0.5em;
  color: #43B929;
  font-weight: 900;
  font-size: 1.3em;
  margin-bottom: 1.5px;
}



body {
  text-align: center;
  font-family: 'Helvetica';
  width: 300px;
  margin: 0;
  padding: 1em;
  color: white;
  border-radius: 100%;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  margin: 0.8em;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-clip: text;
  text-fill-color:transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

button {
  cursor: pointer;
  width: 80%;
  height: 3em;
  font-size: 1.3em;
  color: white;
  opacity: 0.9;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-radius: 5px;
  border: none;
  display: flex;
  margin: 0.5em;
  padding: 0em 1em;
  align-items: center;
  justify-content: center;
  outline: none;
}

